<div>
    <div class="body_wrapper">
        <div class="index_top_img">
            <div class="index_top_img_text">
                <span>Discover a world of new opportunities!</span>
            </div>
        </div>
        <div class="index_bottom_img">

        </div>
    </div>
</div>